$color-red-1: #C63031;

$color-white-1: #FFFFFF;
$color-white-2: #EFEFEF;
$color-white-3: #F2F2F2;
$color-white-4: #E7E7E7;

$color-grey-1: #525252;
$color-grey-2: #8C8C8C;
$color-grey-3: rgba(255, 255, 255, 0.2);
$color-grey-4: #D5D5D5;
$color-grey-5: #383838;

$color-black-1: #000;
$color-black-2: #020401;
$color-black-3: rgba(255, 255, 255, 0);
$color-black-4: #1B1B1E;
$color-black-5: #0D0D0D;
$color-black-6: #29292D;